doctype html
html
  head
    title #{chatroom}
    link(rel='stylesheet', href='../../css/main.css')
  body
    div#messagediv.wrapper
      ul#messages
    .footer
      form(action="")
        input(id='m', autocomplete='off' placeholder='chat away') 
  script(src='../../socket.io/socket.io.js')
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='../../js/script.js')